<table>
  <tr>
    <th>ID</th>
    <th>user&nbsp;&nbsp;&nbsp;</th>
    <th>enabled?&nbsp;</th>
    <th>description</th>
  </tr>
  <% @cards.each do |card| %>
  <tr>
    <td><%= card[:card_id] %></td>
    <td><%= card[:username] %></td>
    <td><% if card[:enabled] %>True<% else %>False<% end %></td>
    <td><%= card[:description] %></td>
  </tr>
  <% end %>
</table>