<table>
  <tr>
    <th>ID</th>
    <th>user&nbsp;&nbsp;&nbsp;</th>
    <th>enabled?&nbsp;</th>
    <th>description</th>
  </tr>
  <% @cards.each do |card| %>
  <tr>
    <td><%= card[:card_id] %></td>
    <td><%= card[:username] %></td>
    <td><form action="/c/toggle" method="post"><% if card[:enabled] %>True<input type="hidden" name="state" value="False" /><% else %>False<input type="hidden" name="state" value="True" /><% end %><input type="hidden" name="cid" value="<%= card[:card_id] %>" /><input type="submit" value="Toggle" /></form></td>
    <td><%= card[:description] %></td>
  </tr>
  <% end %>
</table>